{% extends "layout.html" %}

{% block title %}
  About Us
{% endblock %}

{% block main %}
  <div style="max-width: 800px; text-align: center; margin-top: 100px;">
    <h2>Welcome to QRV Detailing!</h2>
    <p>
      QRV Detailing is a mobile RV detailing company that has been in business for 5 years. Our team of skilled and dedicated professionals is passionate about providing exceptional service to RV owners in Bucks County, Montgomery County, and Berks County. We take pride in our work and always strive to exceed our customers' expectations.
    </p>
    <p>
      As a mobile service, we come to you and cater to your specific needs, making it convenient for you to maintain your RV's appearance and longevity.
    </p>
    <p>
      Thank you for choosing QRV Detailing, and we look forward to helping you keep your RV in top condition!
    </p>
  </div>
{% endblock %}
