{% extends "layout.html" %}

{% block title %}Packages{% endblock %}

{% block main %}
  <div style="width: 80%; max-width: 800px; margin-top: 60px; text-align: left; display: flex; flex-wrap: wrap; justify-content: space-between;">
    <div style="flex: 2; margin-bottom: 1rem;">
      <h2 style="font-size: 2.5rem; color: #3a3a3a; margin-bottom: 0.5rem;">FOUNDATION PACKAGE</h2>
      <h3 style="font-size: 2rem; color: #3a3a3a; margin-top: 0.5rem; margin-bottom: 1rem;">$13/foot lengthwise</h3>
      <p style="font-size: 1.1rem; line-height: 1.5;">
        This is our standard package that helps establish a clean surface with a strong, protectant wax on. This package is required before any maintenance washes.
      </p>
      <p style="font-size: 1.1rem; font-weight: bold; margin-bottom: 0.5rem;">This includes:</p>
      <ul style="font-size: 1.1rem; line-height: 1.5;">
        <li>Cleaning roof and applying a protectant UV coating to plastics/seals to protect from cracking from the Sun</li>
        <li>Cleaning and protecting awnings</li>
        <li>Pressure-Washing exterior</li>
        <li>Soaping and rinsing exterior</li>
        <li>Manually applying a Polymer Sealant-Wax</li>
        <li>Cleaning and protecting windows</li>
        <li>Cleaning Wheels and applying a shine to tires</li>
        <li><strong style="font-size: 1.2rem;">This package does NOT include oxidation removal</strong></li>
      </ul>
    </div>
    <div style="flex: 1; max-width: 90%; margin-bottom: 1rem;">
      <img src="static/IMG_2181.jpeg" alt="Image 2" style="width: 400%; max-width: none; height: auto; border-radius: 5px;">
    </div>
  </div>
{% endblock %}



