{% extends "layout.html" %}

{% block title %}
    Schedule
{% endblock %}

{% block main %} 


<form action="/schedule" method="post">
    <input type="text" name="name" id="name" placeholder="Your Name" required>
    <input type="text" name="phone" id="phone" placeholder="Phone Number" required>
    <input type="email" name="email" id="email" placeholder="Email" required>
    <input type="text" name="address" id="address" placeholder="Address" required>
    <input type="text" name="rv_length" id="rv_length" placeholder="RV Length" required>
    <textarea name="message" id="message" placeholder="Comments/Questions" rows="4" cols="50"></textarea>
    <button id = "button" type="submit">Submit</button>
     </form>

     <p id="messageTwo"></p> 

<script>

const form = document.querySelector("form");

const functionA = () => {
    messageTwo.innerHTML = "Form Submitted";
    form.hidden = true;
}

form.addEventListener("submit", functionA);



</script>



    </body>
    </html>
{% endblock %}

